/*CSS for Front Cover Part*/
.front-cover{
	margin-top:20px;
	height:620px;
	background-color:#0EB2BD;
}
body{
	background-color:#E5F7FC;
}
#cover-profile{
	height:120px;
	width:120px;
	border-radius:50%;
	position:absolute;
	top:100px;
	left:-85px;
	border:10px solid #E5F7FC;
	border-color:#E5F7FC;
}
.picture-back-line{
	width:50px;
}
#spiral{
	width:150px;
	height:620px;
	margin-top:20px;
}
#profile-name{
	font-size:50px;
	color:White;
	font-weight:bold;
}
.profile-name-below{
	color:white;
}
.right-cover{
	position:relative;
}
#transparent-cover{
	height:auto;
	width:100%;
	opacity:0.15;
	border-radius:10px;
	position:absolute;
	bottom:0px;
	right:0px;
	filter:blur(5px);
	transition: .5s ease;
	backface-visibility: hidden;
}
.right-cover:hover #transparent-cover{
	opacity:0.1;
}
.pointing{
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.right-cover:hover .pointing{
	opacity:1;
}
.cover-contact{
	float:right;
	color:white;
}
.text{
	color:white;
}
/*CSS for Back Resume Part*/
.cover{
	height:200px;
	margin-top:1%;
	margin-left:2%;
	margin-right:2%;
	background-color:#0EB2BD;
	border-radius:5px 5px 0px 0px;
}
.cover-inner{
	width:470px;
	color:white;
	padding:10px;
	/*background-color:red;*/
}
.cover-below{
	min-height:10px;
	margin-left:2%;
	margin-right:2%;
	border:1px solid #0EB2BD;
	border-radius:0px 0px 5px 5px;
	padding-top:10px;
	padding-bottom:10px;
}
#profileName{
	padding-left:10px;
	padding-bottom:1px;
	font-size:50px;
	/*color:white;*/
	font-weight:bold;
}
#cover-line{
	/*background-color:white;*/
	width:450px;
	/*height:5px;*/
	text-align:left;
}
.icon{
	padding-left:10px;
}
#profile-picture{
	height:190px;
	width:150px;
	position:absolute;
	left:1140px;
	top:50px;
	border:3px solid #0EB2BD;
}
.Sub-heading{
	margin-left:10px;
	font-size:30px;
	font-weight:bold;
	color:#0EB2BD;
	text-decoration:underline dotted #0EB2BD;
	cursor:pointer;
}
.data-content{
	margin-left:15px;
	margin-top:15px;
}
.academic-details{
	width:800px;
	min-height:20px;
	/*background-color:red;*/
	float:left
}
.personal-details{
	width:400px;
	min-height:100px;
	/*background-color:red;*/
	float:right;
	margin-top:85px;
}
.manage-div{
	clear:both;
}
.personal-panel-up{
	width:92%;
	min-height:10%;
	background-color:#0EB2BD;
	margin-left:5%;
	margin-top:50px;
	color:white;
	text-align:center;
	padding-top:1%;
	padding-bottom:1%;
	font-size:20px;
	font-weight:bold;
	border-radius:5px 5px 0px 0px;
}
.personal-panel-down{
	width:87%;
	height:80%;
	/*border:1px solid #0EB2BD;*/
	margin-left:5%;
	padding:10px;
	border-radius:0px 0px 5px 5px;
	/*background-color:#B3DFE8;*/
	background-color:#C3F1FB;
}
.design-div{
	width:1278px;
	height:200px;
	position:absolute;
	left:35px;
	top:14px;
}
.design-div img{
	position:absolute;
	bottom:0;
	height:45%;
	width:100%;
}
/*.table-div{
	/*background-color:red;
	width:800px;
	min-height:100px;
	padding-top:15px;
}*/
#obj-div{
	min-height:10px;
	min-width:10px;
	display:none;
}
#acad-div{
	min-height:10px;
	min-width:10px;
	display:none;
}
#course-div{
	min-height:10px;
	min-width:10px;
	display:none;
}
#skill-div{
	min-height:10px;
	min-width:10px;
	display:none;
}
.education{
	width:100%;
	border:1px solid #0EB2BD;
	border-collapse: collapse;
	border-radius:10px;
	overflow:hidden;
	margin-bottom:20px;
	margin-top:20px;
}
.education th{
	background-color:#0EB2BD;
	padding:10px;
	color:white;
}
.education td{
	padding:10px;
	border-left:1px solid #0EB2BD;
	background-color:#CCF6FA;
}
.facebook{
	color:#4052B8;
}
.facebook:hover{
	color:blue;
}
.twitter{
	color:skyblue;
}
.twitter:hover{
	color:#0EB2BD;
}
.youtube{
	color:#E50808;
}
.youtube:hover{
	color:red;
}
.details{
	width:100%;
	min-height:10px;
}
.detail-image{
	float:left;
	height:330px;
	margin-left:100px;
	margin-top:30px;
}
.detail-image img{
	height:200px;
	width:300px;
	border-radius:10px;
}
.link{
	height:110px;
	width:300px;
	background-color:rgba(0,0,0,0);
	margin-top:-205px;
	position:absolute;
	color:white;
	font-weight:bold;
	font-size:20px;
	text-align:center;
	padding-top:90px;
	cursor:pointer;
	transition:0.3s;
	border-radius:10px;
	opacity:0;
}
.link:hover{
	background-color:rgba(0,0,0,0.8);
	opacity:1;
}
.image-title{
	width:300px;
	text-align:center;
	font-weight:bold;
	font-size:30px;
}
/*.detail-head{
	width:5%;
	min-height:10px;
	float:left;
	padding-top:10px;
	padding-left:30px;
}
.detail-head label{
	font-size:30px;
	font-weight:bold;
	/*text-shadow:10px 0px 10px skyblue;
}

.detail-content{
	width:90%;
	min-height:10px;
	float:left;
	padding-top:15px;
}
.detail-content label{
	font-size:23px;
	/*text-shadow:10px 0px 10px skyblue;
}
.detail-content label span{
	font-weight:bold;
	font-size:25px;
}
.gal{
	width:98.5%;
	height:600px;
	margin-top:20px;
	margin-left:10px;
}
.slide{
	display:none;
}
.first-slide{
	display:block;
}
.slide img{
	width:100%;
	height:600px;
	border-radius:10px;
}
.prev-img, .next-img{
	padding:40px 20px;
	position:absolute;
	background-color:rgba(45, 198, 207,0);
	font-size:40px;
	font-weight:bold;
	margin-top:-350px;
	cursor:pointer;
	color:white;
}
.next-img:hover{
	color:black;
	background-color:rgba(45, 198, 207,0.5);
}
.prev-img:hover{
	color:black;
	background-color:rgba(45, 198, 207,0.5);
}
.prev-img{
	float:left;
	border-radius:0 10px 10px 0;
}
.next-img{
	right:45px;
	float:right;
	border-radius:10px 0 0 10px;
}
.img-title{
	width:1259px;
	text-align:center;
	background-color:rgba(45, 198, 207,0.5);
	position:absolute;
	margin-top:-80px;
	color:black;
	font-size:50px;
	font-weight:bold;
	text-shadow:1px 0px 3px blue;
}*/